@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body, button {
  font-family: Epilogue, sans-serif;
}

ul {
  list-style: none;
}

#features-dropdown, #company-dropdown {
  position: relative;
}

#features-items, #company-items {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0s linear 0.5s;
}

#features-items.show, #company-items.show {
  display: block;
}

header {
  position: relative;
}
header #navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header #navbar img:first-child {
  height: 27px;
}
header #navbar a {
  cursor: pointer;
}
header #navbar img:last-child {
  height: 18px;
}
header .wrapper {
  z-index: 1;
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.6);
}
header .wrapper nav {
  background-color: #fafafa;
  position: absolute;
  right: 0;
  width: 65%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: dimgray;
  font-weight: 500;
}
header .wrapper nav button {
  color: dimgray;
  background-color: #fafafa;
  border: none;
  font-size: 18px;
  font-weight: 500;
}
header .wrapper nav button img {
  padding-left: 15px;
}
header .wrapper nav a {
  margin-left: auto;
}
header .wrapper nav a img {
  width: 32px;
}
header .wrapper nav ul {
  text-align: left;
}
header .wrapper nav ul a {
  text-decoration: none;
  margin-left: 0;
  color: dimgray;
}
header .wrapper nav ul a:hover {
  color: #141414;
}
header .wrapper nav ul li {
  padding: 10px 0;
}
header .wrapper nav ul #features-dropdown ul, header .wrapper nav ul #company-dropdown ul {
  padding: 20px 0;
}
header .wrapper nav ul #features-dropdown ul li, header .wrapper nav ul #company-dropdown ul li {
  padding-left: 30px;
  display: flex;
}
header .wrapper nav ul #features-dropdown ul li img, header .wrapper nav ul #company-dropdown ul li img {
  padding-right: 15px;
  width: 18px;
}
header .wrapper nav .nav-btns {
  display: flex;
  flex-direction: column;
}
header .wrapper nav .nav-btns button {
  padding: 15px 0;
  cursor: pointer;
}
header .wrapper nav .nav-btns button:hover {
  color: #141414;
}
header .wrapper nav .nav-btns button:last-child {
  border: 2px solid dimgray;
  border-radius: 20px;
}
header .wrapper nav .nav-btns button:last-child:hover {
  border: 2px solid #141414;
  color: #141414;
}

main {
  width: 100%;
}
main .hero-img-mobile {
  width: 100%;
}
main .hero-img-desktop {
  display: none;
}
main .text-content {
  text-align: center;
  width: 90%;
  margin: auto;
}
main .text-content h1 {
  font-size: 34px;
  padding-top: 50px;
}
main .text-content h1 br {
  display: none;
}
main .text-content p {
  padding-top: 30px;
  padding-bottom: 30px;
  color: dimgray;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
main .text-content button {
  padding: 20px 30px;
  border-radius: 20px;
  border: none;
  background-color: #141414;
  color: #fafafa;
  font-weight: 700;
}
main .clients {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 80px;
}
main .clients img {
  width: 20%;
  height: auto;
}

footer {
  margin-top: 80px;
}

@media only screen and (min-width: 800px) {
  header #navbar #hamburger {
    display: none;
  }
  header .wrapper {
    display: flex;
    height: 67px;
    background-color: rgba(0, 0, 0, 0);
  }
  header .wrapper nav {
    background-color: white;
    flex-direction: row;
    height: 67px;
    width: calc(100% - 150px);
    padding: 0;
    align-items: center;
    justify-content: space-between;
    left: 150px;
  }
  header .wrapper nav #features-btn, header .wrapper nav #company-btn {
    background-color: white;
  }
  header .wrapper nav #features-btn:hover, header .wrapper nav #company-btn:hover {
    color: #141414;
    cursor: pointer;
  }
  header .wrapper nav #features-items, header .wrapper nav #company-items {
    margin-top: 20px;
    position: absolute;
    background-color: #fafafa;
    box-shadow: 5px 5px 25px #141414;
    border-radius: 15px;
    right: 0;
  }
  header .wrapper nav #x-mark {
    display: none;
  }
  header .wrapper nav ul {
    display: flex;
  }
  header .wrapper nav ul li {
    padding: 10px 20px;
  }
  header .wrapper nav .nav-btns {
    flex-direction: row;
  }
  header .wrapper nav .nav-btns button {
    background-color: white;
    margin: 0 15px;
  }
  header .wrapper nav .nav-btns button:last-child {
    padding: 15px 25px;
  }

  main {
    display: flex;
    height: calc(100vh - 79px);
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  main img {
    width: 30%;
  }
  main .wrapper {
    width: 40%;
    padding-right: 80px;
  }
  main .wrapper .text-content {
    text-align: left;
  }
  main .wrapper .text-content h1 {
    font-size: 74px;
  }
  main .wrapper .text-content h1 br {
    display: block;
  }
  main .wrapper .text-content p {
    font-size: 18px;
    padding: 80px 0;
  }
  main .wrapper .text-content button {
    border: 1px solid transparent;
  }
  main .wrapper .text-content button:hover {
    background-color: #fafafa;
    border: 1px solid #141414;
    color: #000000;
  }
  main .hero-img-desktop {
    display: inline;
  }
  main .hero-img-mobile {
    display: none;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
